---
import Skeleton from '../../layouts/Skeleton.astro';

export function getStaticPaths() {
	return [
		{params: {post: 'post-1'}},
		{params: {post: 'post-2'}},
	];
}

const {post} = Astro.params;
---
<div>You are reading post {post}</div>
