---
import Skeleton from "../../layouts/Skeleton.astro";

export function getStaticPaths() {
  return [{ params: { post: "post-1" } }, { params: { post: "post-2" } }];
}

const { post } = Astro.params;
---

<Skeleton title="Hello Kitty">
	<div>
		<article>
			<h1 class="text-2xl font-serif font-extrabold">I am the header</h1>
			<p>I am the first paragraph</p>
			<article>
				<h2 class="text-lg font-bold">This is a sub header</h2>
				<p>Thi is a paragraph</h2>
			</article>
			<article>
				<h2>This is a sub header</h2>
				<p>Thi is a paragraph</h2>
			</article>
			<article>
				<h2>This is a sub header</h2>
				<p>Thi is a paragraph</h2>
			</article>
		</article>
	</div>
</Skeleton>
