---
import Skeleton from "../../layouts/Skeleton.astro";

import PubTime from "../../components/PubTime.astro";

export async function getStaticPaths() {
  const brews = (await Astro.glob("../../content/brews/*.mdx")) || [];

  return brews.map((brew) => {
    return {
      params: { slug: brew.frontmatter.slug },
      props: { brew },
    };
  });
}

const { brew } = Astro.props;
const { Content } = Astro.props.brew;
---

<Skeleton title={brew.frontmatter.title}>
  <div class="px-4 md:px-0 lg:px-0">
    <article class="prose prose-slate">
      <PubTime date={brew.frontmatter.published} />
      <Content />
    </article>
  </div>
</Skeleton>
