---
import Skeleton from "../../layouts/Skeleton.astro";

import RandomResponsiveImage from "../../components/RandomResponsiveImage.astro";

const brews = (await Astro.glob("../../content/brews/*.mdx")) || [];

const title = "Bryg arkiv";
---

<Skeleton title={title}>
  <div class="md:max-w-3xl p-4 grid md:grid-cols-2 md:gap-2">
    {
      brews.map((brew) => (
        <article class="min-h-fit min-w-fit mb-8">
          <RandomResponsiveImage />
          <header class="">
            <h1 class="font-serif text-5xl font-extrabold my-4">
              <a href={`/bryg/${brew.frontmatter.slug}`}>
                {brew.frontmatter.title}
              </a>
            </h1>
            <p class="font-sans">{brew.frontmatter.summary}</p>
          </header>
        </article>
      ))
    }
  </div>
</Skeleton>
