---
import Skeleton from "../../layouts/Skeleton.astro";

import BrewCard from "../../components/BrewCard.astro";

const brews = (await Astro.glob("../../content/brews/*.mdx")) || [];

brews.sort(
  (a, b) =>
    Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published),
);

const title = "Øl opskrifter";
---

<Skeleton title={title}>
  <section class="p-4 mx-auto">
    <hgroup class="mb-4">
      <h1 class="font-serif text-4xl">{title}</h1>
      <p></p>
    </hgroup>
    {brews.map((brew) => <BrewCard brew={brew} image={false} />)}
  </section>
</Skeleton>
