---
/* @index.astro */

/*
 TODO:
 - Latest brew
 - Popular hops
 - Popular style
*/

import { Debug } from "astro:components";
import Skeleton from "../layouts/Skeleton.astro";
import BeerStyles from "../components/BeerStyles.astro";
import BrewCard from "../components/BrewCard.astro";
let brews = (await Astro.glob("../content/brews/*.mdx")) || [];
// Brew count
let countBrews = brews.length;
brews.sort(
  (a, b) =>
    Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published),
);

let topBrew = brews[0];
brews = brews.slice(1, 3);
---

<Skeleton title="Det jeg brygger">
  <section class="p-4 mx-auto">
    <BrewCard brew={topBrew} image={false} />
  </section>

  <!-- List of beer styles //-->
  <div class="p-4">
    <hgroup>
      <h2 class="font-semibold">Øltyper</h2>
      <p>Du kan læse om XX øltyper</p>
    </hgroup>
    <BeerStyles count={3} />
  </div>
  <section class="p-4 mx-auto">
    {brews.map((brew) => <BrewCard brew={brew} image={true} />)}
  </section>
  <section class="p-4">Humle</section>
</Skeleton>
