---
/* @index.astro */

/*
 TODO:
 - Latest brew
 - Popular hops
 - Popular style
*/

import { Debug } from "astro:components";
import Skeleton from "../layouts/Skeleton.astro";
import PubTime from "../components/PubTime.astro";
import BrewCard from "../components/BrewCard.astro";
let brews = (await Astro.glob("../content/brews/*.mdx")) || [];
// Brew count
let countBrews = brews.length;
brews.sort(
  (a, b) =>
    Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published),
);

let topBrew = brews[0];
brews = brews.slice(1, 3);
---

<Skeleton title="Det jeg brygger">
  <section class="p-4 mx-auto">
    <BrewCard brew={topBrew} image={false} />
  </section>
  <!--
  <section class="mb-4">
    <div class="flex flex-row justify-center h-40font-serif text-4xl font-extrabold">
      <div class="basis-1/3 content-around"><span class="block">+200</span> bryg</div>
      <div class="basis-1/3 content-around"><span class="block">333</span>Humler</div>
      <div class="basis-1/3 content-around"><span class="block">333</span>Øltyper</div>
    </div>
  </section>
  //-->
  <section class="p-4 mx-auto">
    {brews.map((brew) => <BrewCard brew={brew} image={true} />)}
  </section>
  <section class="p-4">Humle</section>
  <section class="p-4">Øltyper</section>
</Skeleton>
