---
/**
 * Beer Styles Component
 */

import { Debug } from "astro:components";
import { Image } from "astro:assets";
import icon from "../assets/images/glass_with_beer.jpg";

let bs = (await Astro.glob("../content/style-guide/*.mdx")) || [];
// Sort styles
bs.sort((a, b) => b.frontmatter.title - a.frontmatter.title);

// Slice array by count or fallback
const { count } = Astro.props || 6;
---

<div class="mx-auto">
  <div
    class="overflow-x-auto flex overflow-y-hidden [&::-webkit-scrollbar]:w-1
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
  >
    {
      bs.slice(0, count).map((b) => (
        <div class="flex-none mb-4">
          <div class="flex flex-col items-center justify-center gap-3 w-32 h-fit mr-2 last:mr-0">
            <Image class="w-16 h-16 rounded-full" src={icon} alt="Øl" />
            <h1 class="font-serif font-extrabold">
              <a href={`/oeltyper/${b.frontmatter.slug}`}>
                {b.frontmatter.title}
              </a>
            </h1>
          </div>
        </div>
      ))
    }
  </div>
</div>
