---

---

<style></style>
<div class="">
  <nav role="">
    <ul class="list-none inline">
      <li><a href="/">Hjem</a></li>
    </ul>
  </nav>
</div>
<script>
  var p = document.location.pathname.substring(
    1,
    document.location.pathname.length,
  );
  var n = document.querySelector("[role] ul");
  p.split("/").map((k) => {
    var e = document.createElement("li");
    n.append(e);
  });
</script>
