---
/**
 * BrewCard.astro
 */

import { Debug } from "astro:components";
import { Image } from "astro:assets";
const { brew, image } = Astro.props;
const intro = brew.frontmatter.summary.split(" ").slice(0, 15);
import beer from "../assets/images/sunset_beer.jpg";
---

<article class="mb-8">
  <hgroup class="">
    <!-- {image ? <Image src={beer} alt="øl solnedgabg" /> : ""} //-->
    <h1 class="font-serif text-2xl">
      <a href={`/opskrifter/${brew.frontmatter.slug}`} class="no-underline">
        {brew.frontmatter.title}</a
      >
    </h1>
  </hgroup>
  <p class="font-sans font-normal">
    {intro.join(" ")}...
    <br /><a href={`/opskrifter/${brew.frontmatter.slug}`} class="underline"
      >Læs mere</a
    >
  </p>
</article>
