---
/**
 * Latest Brews
 */

const brews = (await Astro.glob("../content/brews/*.mdx")) || [];
brews.sort(
  (a, b) =>
    Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published),
);
import PubTime from "../components/PubTime.astro";
---

<div class="">
  <h2 class="font-sans text-2xl font-extrabold my-4">
    Seneste brygge opskrifter
  </h2>
  <div class="overflow-x-scroll max-w-prose">
    <div class="grid grid-cols-8 gap-8">
      {
        brews.slice(0, 8).map((brew) => (
          <article>
            <header class="">
              <PubTime date={brew.frontmatter.published} />
              <h1 class="font-sans font-extrabold my-4">
                <a href={`/bryg/${brew.frontmatter.slug}`}>
                  {brew.frontmatter.title}
                </a>
              </h1>
            </header>
          </article>
        ))
      }
    </div>
  </div>
</div>
