---
/**
 * Latest Brews
 */

const brews = (await Astro.glob("../content/brews/*.mdx")) || [];
brews.sort(
  (a, b) =>
    Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published),
);
import PubTime from "../components/PubTime.astro";

// Slice array
const { count } = Astro.props || 4;
---

<section
  class="flex overflow-x-auto [&::-webkit-scrollbar]:w-1
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
>
  {
    brews.slice(0, count).map((b) => (
      <div class="flex-none w-36 mr-4 last:mr-0">
        <article class="flex flex-col items-center">
          <h1 class="font-serif font-semibold">
            <a href={`/opskrifter/${b.frontmatter.slug}`}>
              {b.frontmatter.title}
            </a>
          </h1>
        </article>
      </div>
    ))
  }
</section>
