---
/* 2018-07-07 */

const { date } = Astro.props || new Date().getTime();
// Parse date
const t = Date.parse(date);
const d = new Date();
// Set time
d.setTime(t);
// To locale date
const l = d.toLocaleDateString("da-DK");
---

<div class="">
  <span class="">Udgivet: <time datetime={l}>{l}</time></span>
</div>
