---
import Skeleton from "../../layouts/Skeleton.astro";

export async function getStaticPaths() {
  const response = await fetch("https://hopstr.vercel.app/api/hops");
  const hops = await response.json();

  return hops.hoplist.map((hop) => {
    return {
      params: { slug: hop.slug },
      props: { hop },
    };
  });
}

const { hop } = Astro.props;
---

<Skeleton title=`${hop.name} humle`>
  <div class="max-w-prose">
    <article class="mx-2">
      <header>
        <h1 class="font-serif text-5xl font-exstrabold my-4">{hop.name}</h1>
      </header>
      <img
        src="https://placehold.co/560"
        srcset="https://placehold.co/560"
        sizes=""
        alt="humle"
        class="rounded"
      />
      <article class="mb-8">
        <h2 class="text-3xl font-serif font-semibold my-4">Beskrivelse</h2>
        <p>{hop.description ? hop.description : ""}</p>
      </article>
      <article class="mb-8">
        <h2 class="text-3xl font-serif font-semibold my-4">Karakteristika</h2>
        <p>
          <table class="table-auto">
            <thead>
              <tr>
                <th>Karakteristik</th>
                <th>Værdi</th>
              </tr>
            </thead>
            <tbody>
              {
                hop.characteristics &&
                  hop.characteristics.map((c) => (
                    <tr>
                      <td>
                        <b>{c.name}</b>
                      </td>
                      <td>{c.value ? c.value : ""}</td>
                    </tr>
                  ))
              }
            </tbody>
          </table>
        </p>
      </article>
    </article>
  </div>
</Skeleton>
