---
import Skeleton from "../../layouts/Skeleton.astro";

/*
const response = await fetch("/api/hops");
const hops = await response.json();
*/

console.log("Hello");
const title = "Humle index";
---
<Skeleton title={title}>
  <div>
	  {title}
  </div>
</Skeleton>
