---
import Skeleton from "../../layouts/Skeleton.astro";

const response = await fetch("https://hopstr.vercel.app/api/hops");
const hops = await response.json();

const title = "Humle index";
---

<Skeleton title={title}>
  <div class="md:max-w-3xl p-4 grid md:grid-cols-2 md:gap-2">
    {
      hops.hoplist.map((hop) => (
        <article class="min-h-fit min-w-fit mb-8">
          <img
            src="https://placehold.co/384"
            srcset="https://placehold.co/384"
            sizes=""
            alt="humle"
            class="rounded"
          />
          <header class="">
            <h1 class="font-serif text-5xl font-extrabold my-4">
              <a href={`/humle/${hop.slug}`}>{hop.name}</a>
            </h1>
            <p class="font-sans">{hop.description}</p>
          </header>
        </article>
      ))
    }
  </div>
</Skeleton>
