---
import Skeleton from "../../layouts/Skeleton.astro";
import LatestBrews from "../../components/LatestBrews.astro";

export async function getStaticPaths() {
  const styles = (await Astro.glob("../../content/style-guide/*.mdx")) || [];

  return styles.map((style) => {
    return {
      params: { slug: style.frontmatter.slug },
      props: { style },
    };
  });
}

const { style } = Astro.props;
const { Content } = Astro.props.style;
---

<Skeleton title={style.frontmatter.title}>
  <div class="px-4 lg:px-0 md:px-0">
    <article class="prose prose-slate">
      <header>
        <h1>{style.title}</h1>
      </header>
      <article>
        <Content />
      </article>
    </article>
    <LatestBrews />
  </div>
</Skeleton>
