---
import Skeleton from "../../layouts/Skeleton.astro";

import RandomResponsiveImage from "../../components/RandomResponsiveImage.astro";

const styles = (await Astro.glob("../../content/style-guide/*.mdx")) || [];
const title = "Øltyper";
---

<Skeleton title={title}>
  <div class="md:max-w-3xl p-4 grid md:grid-cols-2 md:gap-2">
    {
      styles.map((style) => (
        <article class="min-h-fit min-w-fit mb-8">
          <RandomResponsiveImage />
          <header class="">
            <h1 class="font-sans text-4xl font-extrabold my-4">
              <a href={`/oeltyper/${style.frontmatter.slug}`}>
                {style.frontmatter.title}
              </a>
            </h1>
            <p class="" />
          </header>
        </article>
      ))
    }
  </div>
</Skeleton>
