---
import "../styles/base.css";
// Components
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{title}</title>
  </head>
  <body class="static">
    <Navigation />
    <div
      class="container mx-auto mt-8 flex flex-col md:flex-row items-center justify-center"
    >
      <slot />
    </div>
    <footer class="w-screen absolute bottom-0 left-0 h-40 bg-lime-500">
      <div class="mx-auto flex content-center">
        <div class="flex-auto w-64">here</div>
        <div class="flex-auto w-64">here</div>
      </div>
    </footer>
  </body>
</html>
