---
import "../styles/base.css";
// Components
import Navigation from "../components/Navigation.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <main class="container mx-auto md:max-w-3xl">
      <Breadcrumbs />
      <div class="max-w-prose">
        <article class="mx-2">
          <slot />
        </article>
      </div>
    </main>
    <footer class="">
      <div class="mx-auto flex content-center">
        <div class="flex-auto w-64">here</div>
        <div class="flex-auto w-64">here</div>
      </div>
    </footer>
  </body>
</html>
